In [1]:
import pandas as pd
import numpy as np

In [3]:
pred_lgb = pd.read_csv(r'C:\Users\Emincan\Desktop\Gdz\gdz-competition\Büyük Modeller\Predictions - Images\LGBM-500-maxd5-lr01.csv')
pred_prophet = pd.read_csv(r'C:\Users\Emincan\Desktop\Gdz\gdz-competition\Büyük Modeller\Predictions - Images\PROPHET_yabancı_yhat3.csv')
pred_xgb = pd.read_csv(r'C:\Users\Emincan\Desktop\Gdz\gdz-competition\Büyük Modeller\Predictions - Images\XGB-3000-maxd7-lr001-gamma1-colsamp0.6-subsamp0.6.csv')
pred_xgb_kaan = pd.read_csv(r'C:\Users\Emincan\Desktop\Gdz\gdz-competition\Büyük Modeller\Predictions - Images\XGBoost-Kaan.csv')

In [9]:
pred_lgb['Dağıtılan Enerji (MWh)'] = pred_lgb['Dağıtılan Enerji (MWh)'] - 75
pred_lgb

                   Tarih  Dağıtılan Enerji (MWh)
0    2022-08-01 00:00:00             2138.704920
1    2022-08-01 01:00:00             1990.200979
2    2022-08-01 02:00:00             1858.679989
3    2022-08-01 03:00:00             1807.567965
4    2022-08-01 04:00:00             1762.599928
..                   ...                     ...
739  2022-08-31 19:00:00             2421.342373
740  2022-08-31 20:00:00             2398.142578
741  2022-08-31 21:00:00             2331.243637
742  2022-08-31 22:00:00             2156.785410
743  2022-08-31 23:00:00             2037.999308

[744 rows x 2 columns]

In [11]:
pred_xgb['Dağıtılan Enerji (MWh)'] = pred_xgb['Dağıtılan Enerji (MWh)'] - 60
pred_xgb

                   Tarih  Dağıtılan Enerji (MWh)
0    2022-08-01 00:00:00               2143.5730
1    2022-08-01 01:00:00               2010.5186
2    2022-08-01 02:00:00               1884.6104
3    2022-08-01 03:00:00               1820.4321
4    2022-08-01 04:00:00               1781.8335
..                   ...                     ...
739  2022-08-31 19:00:00               2475.2260
740  2022-08-31 20:00:00               2472.7136
741  2022-08-31 21:00:00               2394.8171
742  2022-08-31 22:00:00               2254.8728
743  2022-08-31 23:00:00               2115.4530

[744 rows x 2 columns]

In [14]:
pred_xgb_kaan

                   Tarih  Dağıtılan Enerji (MWh)
0    2022-08-01 00:00:00             2139.797785
1    2022-08-01 01:00:00             1999.377423
2    2022-08-01 02:00:00             1983.867757
3    2022-08-01 03:00:00             1927.078436
4    2022-08-01 04:00:00             1881.757110
..                   ...                     ...
739  2022-08-31 19:00:00             2509.962938
740  2022-08-31 20:00:00             2496.361659
741  2022-08-31 21:00:00             2451.430863
742  2022-08-31 22:00:00             2352.393348
743  2022-08-31 23:00:00             2220.601102

[744 rows x 2 columns]

In [19]:
combin_pred = pred_lgb['Dağıtılan Enerji (MWh)'] * 0.15 + pred_prophet['Dağıtılan Enerji (MWh)'] * 0.3 + pred_xgb_kaan['Dağıtılan Enerji (MWh)'] * 0.4 + pred_xgb['Dağıtılan Enerji (MWh)'] * 0.15
combin_pred

0      2105.221528
1      1962.022034
2      1890.180997
3      1836.825821
4      1793.253195
          ...
739    2478.792236
740    2461.510305
741    2413.091884
742    2307.028279
743    2176.351429
Name: Dağıtılan Enerji (MWh), Length: 744, dtype: float64

In [20]:
combin_sub = pred_lgb.copy()

In [24]:
combin_sub['Dağıtılan Enerji (MWh)'] = combin_pred
combin_sub['Tarih'] = combin_sub['Tarih'].astype('datetime64')
combin_sub

                  Tarih  Dağıtılan Enerji (MWh)
0   2022-08-01 00:00:00             2105.221528
1   2022-08-01 01:00:00             1962.022034
2   2022-08-01 02:00:00             1890.180997
3   2022-08-01 03:00:00             1836.825821
4   2022-08-01 04:00:00             1793.253195
..                  ...                     ...
739 2022-08-31 19:00:00             2478.792236
740 2022-08-31 20:00:00             2461.510305
741 2022-08-31 21:00:00             2413.091884
742 2022-08-31 22:00:00             2307.028279
743 2022-08-31 23:00:00             2176.351429

[744 rows x 2 columns]

In [26]:
combin_sub.to_csv(r'C:\Users\Emincan\Desktop\Gdz\gdz-competition\Büyük Modeller\Predictions - Images\lgb15-prop-30-xgbkaan40-xgb15.csv' , index=None)